@using sReportsV2.DTOs.Field.DataOut;
@model FieldDataOut
<div style="margin-top:5px;">
    <div style="display:none" class="form-element-description field-desc">
        @Html.Raw(Model.Description)
    </div>
</div>
