@using sReportsV2.DTOs.Form.DataOut.Tree

@model TreeDataOut

@if (Model.Forms.Count() == 0)
{
    <div class="no-result-content">
        <img class="margin-" src="~/Content/img/icons/no_results.svg">
        <br>
        <div class="no-result-text">@sReportsV2.Resources.TextLanguage.NoResultFound</div>
    </div>

}
else
{
    <div class="found-in-count" id="thesaurusAppearances-@Model.O4MtId">@ViewBag.TotalAppeareance</div>

    <div class="form-tree" id="foundInContainer-@Model.O4MtId">
        @Html.Partial("FormTreePartial")
    </div>
}