// FONT WEIGHT
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;

// COLORS
$primary-color-hover: #1f919f;
$primary-color-background: #E3FCFF;

$color-white: #fff;
$color-black: #000;

$smart-oncology-light-grey: #F9F9F9;
$smart-oncology-dark-grey: #CFCFCF;
$smart-oncology-grey-text: #3E4956;
$smart-oncology-green-primary: #1c94a3;

// CUSTOM COMPONENTS COLORS
$border-color: #e5e5e5;
$text-color-secondary: #444;
$bg-color: #F9F9F9;
$card-bg: #eceeef;
$gray-bg: #F7F7F7;