@{
    ViewBag.Title = "Terms and Conditions";
}
<div style="padding-bottom: 179px">
    <div class="contact-header" style="padding-top: 54px">
        <div class="contact-title">Terms and Conditions</div>
    </div>
    <div class="contact-body terms-and-conditions-font">
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">Wemedoo AG</div>
            <div class="terms-and-conditions-body">
                <div class="margin-bottom-20">
                    Sumpfstrasse 24<br />
                    6312 Steinhausen<br />
                    Switzerland
                </div>
                <div class="margin-bottom-20">
                    UID: CHE-290.176.074<br />
                    VAT Number: CHE-290.176.074 MWST<br />
                    Tel: <span class="color-green" style="color: #007c8b">+41 41 740 0124</span>
                </div>
                <div class="font-size-15px">
                    <a href="mailto:smartoncology@wemedoo.com" class="terms-and-conditions-link">smartoncology@wemedoo.com</a>
                </div>
            </div>
            <div class="terms-and-conditions-line"></div>
        </div>
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">
                Acceptance of Terms and Conditions
            </div>
            <div class="terms-and-conditions-body">
                <p>Dear visitor, welcome to a website operated by Wemedoo AG.</p>
                <div class="margin-top-17">By using this site and available services, you acknowledge that you have read, understood, and agree to be bound by the following Terms and Condition of Use, as well as all applicable laws and regulations.  If you do not agree to these Terms, then you are not permitted to access or use the site. The Terms may be updated at any time without notice to you. The Terms are applicable to any natural or legal entities and/or individuals who are employed by legal entities (Institutions, Companies, or Organizations) who use this website and/or services.  </div>
                <div class="margin-top-17">You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity. You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit, or other malicious computer software.  </div>
                <div class="margin-top-17">You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction, and data harvesting) on or in relation to this website without the express written consent of Wemedoo AG. </div>
            </div>
            <div class="terms-and-conditions-line"></div>
        </div>
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">License to Use the Website</div>
            <div class="terms-and-conditions-body">
                <p>Wemedoo and/or its licensors own the intellectual property rights in the website and material on the website, unless explicitly noted otherwise. Subject to the license below, all these intellectual property rights are reserved. You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions. You must not: </p>
                <div class="terms-and-conditions-li-item margin-top-17">
                    <i class="fas fa-circle"></i>Republish material from this website (including republication on another website);
                </div>
                <div class="terms-and-conditions-li-item">
                    <i class="fas fa-circle"></i>Sell, rent, or sub-license material from the website; 
                </div>
                <div class="terms-and-conditions-li-item">
                    <i class="fas fa-circle"></i>Show any material from the website in public;
                </div>
                <div class="terms-and-conditions-li-item">
                    <i class="fas fa-circle"></i>Reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;
                </div>
                <div class="terms-and-conditions-li-item">
                    <i class="fas fa-circle"></i>Edit or otherwise modify any material on the website;
                </div>
                <div class="terms-and-conditions-li-item">
                    <i class="fas fa-circle"></i>Redistribute material from this website (except for content specifically and expressly made available for redistribution).
                </div>
                <div class="terms-and-conditions-bolded margin-top-17">All open-source content will be explicitly noted as such. Beside every open-source element present on the website, we will note a license type and version.</div>
            </div>
            <div class="terms-and-conditions-line" style="margin-top: 26px;"></div>
        </div>
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">Privacy Policy </div>
            <div class="terms-and-conditions-body">
                <div class="margin-bottom-50">Any personal information submitted via this website, whether by email or other means, will be used solely by Wemedoo and will not be disclosed to any third parties without explicit request and permission. Under some conditions, we may be requested to disclose personal information requests, in accordance with Swiss federal or cantonal law or in response to other legal requirements. If you wish to view, amend or delete your personal data please contact us on the following email: <a href="mailto:smartoncology@wemedoo.com" class="terms-and-conditions-link">smartoncology@wemedoo.com</a>. </div>
            </div>
            <div class="terms-and-conditions-line"></div>
        </div>
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">Disclaimer</div>
            <div class="terms-and-conditions-body">
                <div>Wemedoo AG makes no guarantee or warranty either expressly or tacitly regarding the accuracy or entirety of the information on this website and accepts no liability for the use of this website or websites connected with it via a link. Wemedoo AG reserves the right to at any time limit access to, modify or discontinue the website in whole, partially, temporarily, or permanently with or without any previous notification. You agree that Wemedoo AG shall not be liable to you or to any third party for any modification, suspension or discontinuance of the site or its services. </div>
                <div class="margin-top-17">Neither Wemedoo AG nor any other party involved in the design, production, or release of this website or any website associated with it via a link shall be held liable in any way whatsoever for any direct, accidental, indirect or deliberate damage which arises due to accessing and/or the successful or unsuccessful use of this website or other linked websites or any errors or omissions in their content. </div>
            </div>
            <div class="terms-and-conditions-line"></div>
        </div>
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">Warranty</div>
            <div class="terms-and-conditions-body">
                <div>This website is provided “as is” without any representations or warranties, express or implied. Wemedoo AG makes no representations or warranties in relation to this website or the information and materials provided on this website. Without prejudice to the generality of the foregoing paragraph, Wemedoo AG does not warrant that: </div>
                <div class="terms-and-conditions-li-item margin-top-40">
                    <i class="fas fa-circle"></i>This website will be constantly available, or available at all; or 
                </div>
                <div class="terms-and-conditions-li-item">
                    <i class="fas fa-circle"></i>The information on this website is complete, true, accurate or non-misleading.
                </div>
                <div class="margin-top-20">Nothing on this website constitutes or is meant to constitute, advice of any kind. [If you require advice in relation to any [legal, financial or medical] matter you should consult an appropriate professional.] </div>
            </div>
            <div class="terms-and-conditions-line" style="margin-top: 26px;"></div>
        </div>
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">Copyright</div>
            <div class="terms-and-conditions-body">
                The content and structure of the web pages of Wemedoo AG are protected by copyright. Express consent must be obtained in advance from Wemedoo AG for the reproduction and dissemination of information or data, in particular, but not limited to the use of texts or image and film material. 
            </div>
            <div class="terms-and-conditions-line" style="margin-top: 26px;"></div>
        </div>
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">Data Collection on Our Website</div>
            <div class="terms-and-conditions-body">
                <div class="margin-bottom-50">Only personal data that is voluntarily provided by you is collected. This may be data that you enter in a contact form or upload in the form of a curriculum vitae. Other, personally identifiable information of technical nature may be automatically collected by our IT systems when you visit the website. This data is automatically collected as soon as you enter our website. This data may be in the form of a Facebook and/or LinkedIn pixel, or Google Analytics cookies. As such, this data is stored with, and on the servers of, those organizations. For more details, please refer to the privacy and data management policies of the given third-party organizations. </div>
            </div>
            <div class="terms-and-conditions-line"></div>
        </div>
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">Cookie Policy</div>
            <div class="terms-and-conditions-body">
                <div>“Cookies” are tiny files stored on your device by a web server. They are used to track your activity and your website visits in order to provide you with the best possible browsing experience. No personal information is obtained through our use of cookies. You have the option of disabling cookies, by changing the settings on your browser. However, disabling some cookies will prevent you from experiencing all the features our website has to offer. </div>
                <div class="margin-top-17">
                    <div>
                        Cookie list.
                    </div>
                    <div class="margin-top-10">
                        Your consent applies to the following domains: <a href="https://wemedoo.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">wemedoo.com</a>
                    </div>
                    <div class="margin-top-10">
                        Your current state: Use necessary cookies only. 
                    </div>
                    <div class="margin-top-10">
                        Your consent ID: TyajUQQWnOL8PUmlkTZE5Sr8YJSGbgIj/2kGG3Zr/xfrDnayQDb5wQ==Consent date: Tuesday, May 18, 2021, 12:55:20 AM GMT+2
                    </div>
                    <div class="margin-top-10">
                        <a href="https://wemedoo.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">Change your consent</a>
                    </div>
                    <div class="margin-top-10">
                        Cookie declaration last updated on 5/17/21 by <a href="https://www.cookiebot.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">Cookiebot</a>:
                    </div>
                </div>
                <div class="margin-top-20">
                    <div class="terms-and-conditions-bolded">Necessary (6)</div>
                    Necessary cookies help make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.
                </div>
                <div class="margin-bottom-50 margin-top-20">
                    <table class="table table-bordered terms-and-conditions-table">
                        <thead>
                            <tr>
                                <th class="terms-and-conditions-th-size">NAME</th>
                                <th class="terms-and-conditions-th-size">PROVIDER</th>
                                <th>PURPOSE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>_grecaptcha</td>
                                <td><a href="https://wemedoo.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">wemedoo.com</a></td>
                                <td>This cookie is used to distinguish between humans and bots. This is beneficial for the website, in order to make valid reports on the use of their website. </td>
                            </tr>
                            <tr>
                                <td>_GRECAPTCHA</td>
                                <td><a href="https://www.google.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">Google</a></td>
                                <td>This cookie is used to distinguish between humans and bots. This is beneficial for the website, in order to make valid reports on the use of their website.</td>
                            </tr>
                            <tr>
                                <td>CookieConsent</td>
                                <td><a href="https://www.cookiebot.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">Cookiebot</a></td>
                                <td>Stores the user's cookie consent state for the current domain</td>
                            </tr>
                            <tr>
                                <td>rc::a</td>
                                <td><a href="https://www.google.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">Google</a></td>
                                <td>This cookie is used to distinguish between humans and bots. This is beneficial for the website, in order to make valid reports on the use of their website.</td>
                            </tr>
                            <tr>
                                <td>rc::b</td>
                                <td><a href="https://www.google.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">Google</a></td>
                                <td>This cookie is used to distinguish between humans and bots. </td>
                            </tr>
                            <tr>
                                <td>rc::c</td>
                                <td><a href="https://www.google.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">Google</a></td>
                                <td>This cookie is used to distinguish between humans and bots.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="terms-and-conditions-bolded">Statistics (4)</div>
                    Statistic cookies help website owners to understand how visitors interact with websites by collecting and reporting information anonymously.
                </div>
                <div class="margin-top-20">
                    <table class="table table-bordered terms-and-conditions-table">
                        <thead>
                            <tr>
                                <th class="terms-and-conditions-th-size">NAME</th>
                                <th class="terms-and-conditions-th-size">PROVIDER</th>
                                <th>PURPOSE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>_ga</td>
                                <td><a href="https://wemedoo.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">wemedoo.com</a></td>
                                <td>Registers a unique ID that is used to generate statistical data on how the visitor uses the website. </td>
                            </tr>
                            <tr>
                                <td>_ga_#</td>
                                <td><a href="https://wemedoo.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">wemedoo.com</a></td>
                                <td>Used by Google Analytics to collect data on the number of times a user has visited the website as well as dates for the first and most recent visit.</td>
                            </tr>
                            <tr>
                                <td>_gat</td>
                                <td><a href="https://wemedoo.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">wemedoo.com</a></td>
                                <td>Used by Google Analytics to throttle request rate </td>
                            </tr>
                            <tr>
                                <td>_gid</td>
                                <td><a href="https://wemedoo.com/" class="terms-and-conditions-link" rel="noopener noreferrer" target="_blank">wemedoo.com</a></td>
                                <td>Registers a unique ID that is used to generate statistical data on how the visitor uses the website. </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="terms-and-conditions-line" style="margin-top: 26px;"></div>
        </div>
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">SSL of TLS Encryption</div>
            <div class="terms-and-conditions-body">
                <div class="margin-bottom-50">This site uses an SSL or TLS encryption for security reasons and to protect the transmission of confidential content, such as requests via the contact form, which you send to us, acting as the site operator. An encrypted connection can be recognized by the change in the browser’s address bar from “http://” to “https://” as well as the lock icon in your browser’s address bar. If SSL or TLS encryption is enabled, the data that you submit to us via the contact form cannot be read by third parties. </div>
            </div>
            <div class="terms-and-conditions-line"></div>
        </div>
        <div class="terms-and-conditions-chapter">
            <div class="terms-and-conditions-chapter-title">Liability and Reasonableness</div>
            <div class="terms-and-conditions-body">
                <div>Wemedoo AG will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website: </div>
                <div class="terms-and-conditions-li-item margin-top-17">
                    <i class="fas fa-circle"></i>For any direct loss.
                </div>
                <div class="terms-and-conditions-li-item">
                    <i class="fas fa-circle"></i>For any indirect, special or consequential loss; or 
                </div>
                <div class="terms-and-conditions-li-item">
                    <i class="fas fa-circle"></i>For any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data. 
                </div>
                <div class="terms-and-conditions-li-item">
                    <i class="fas fa-circle"></i>For any special, incidental, consequential or punitive damages or other damages whatsoever, whether in an action of contract, statute, tort (including, without limitation, negligence) or otherwise, relating to the use of this website or the information contained therein. 
                </div>
                <div class="margin-top-20">These limitations of liability apply even if Wemedoo AG has been expressly advised of the potential loss. </div>
                <div class="margin-top-17">By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable. If you do not think they are reasonable, you must not use this website. </div>
            </div>
        </div>
    </div>
</div>
