<div class="modal fade" id="medicationReplacementModal" tabindex="-1" role="dialog" aria-labelledby="medicationReplacementLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content modal-content-advanced">
            <div class="float-right filter-close-btn">
                <img class="close-modal" src="~/Content/img/icons/close_black.svg">
            </div>
            <div class="modal-body modal-body-advanced margin-top-10">
                <div class="d-flex advanced-filter-header">
                    <img class="mr-3" src="~/Content/img/icons/arrow_relation.svg"> @sReportsV2.Resources.TextLanguage.Replace_Medications
                </div>
                <div id="medication-replacement-modal-content">
                </div>
            </div>
        </div>
    </div>
</div>
