<div class="modal fade" id="historyDelayDoseModal" tabindex="-1" role="dialog" aria-labelledby="historyDelayDoseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content modal-content-advanced">
            <div class="float-right filter-close-btn">
                <img class="close-modal" src="~/Content/img/icons/close_black.svg">
            </div>
            <div class="modal-body modal-body-advanced" id="history-delay-dose-content"></div>
        </div>
    </div>
</div>