
@model sReportsV2.DTOs.ThesaurusEntry.DataOut.ThesaurusEntryDataOut
<input type="hidden" id="id" value="@(Model != null ? Model.Id : 0)" />
<div id="preview" class="thesaurus-preview">
    <div class="tp-title">
        @(Model.Codes != null && Model.Codes.Count() > 0 ? Model.Codes.FirstOrDefault().Value : "No value")
        <div class="contribute-btn">
            <img src="~/Content/img/icons/SwissOpenOncology/translation.svg"> Contribute to translation
        </div>
        <div class="thesaurus-edit-btn" onclick="goToEdit('@Model.Id')">
            <img src="~/Content/img/icons/SwissOpenOncology/edit.svg"> Edit
        </div>
    </div>
    <div class="preview-content">

        <div class="trees-container">
            <div class="position-relative">
                <input type="text" class="quick-search-input" placeholder="Quick Search" id="homeSearch" />
                <img class="search-i" style="top:16px;" src="~/Content/img/icons/search_green.svg">
            </div>

            <div class="browse-accordion">
                <div class="browse-accordion-header collapsed" data-toggle="collapse" data-target="#browseAccContent" aria-expanded="false" aria-controls="browseAccContent">
                    <img src="~/Content/img/icons/SwissOpenOncology/browse.svg" />
                    <div class="browse-text">Browse</div>
                    <img class="browse-arrow" src="~/Content/img/icons/SwissOpenOncology/arrow_close.svg" />
                </div>
                <div class="collapse" id="browseAccContent">
                    test
                </div>
            </div>

            <div class="knowledge-in-context">
                Knowledge in context
            </div>


            <div class="preview-accordion">
                <div class="preview-accordion-header collapsed" data-toggle="collapse" data-target="#formalOntology" aria-expanded="false" aria-controls="formalOntology">
                    <img class="acc-book" />
                    <div class="acc-text">Basic Formal Ontology Properties</div>
                    <img class="acc-arrow" />
                </div>
                <div class="collapse" id="formalOntology">
                    <div class="acc-content">
                        Basic Formal Ontology Properties content
                    </div>
                </div>
            </div>
            <div class="preview-accordion">
                <div class="preview-accordion-header collapsed" data-toggle="collapse" data-target="#documentFound" aria-expanded="false" aria-controls="documentFound">
                    <img class="acc-book" />
                    <div class="acc-text">The entity is found in 24 medical documents</div>
                    <img class="acc-arrow" />
                </div>
                <div class="collapse" id="documentFound">
                    <div class="acc-content">
                        The entity is found in 24 medical documents content
                    </div>
                </div>
            </div>
            <div class="preview-accordion">
                <div class="preview-accordion-header collapsed" data-toggle="collapse" data-target="#documentProperties" aria-expanded="false" aria-controls="documentProperties">
                    <img class="acc-book" />
                    <div class="acc-text">Document Properties</div>
                    <img class="acc-arrow" />
                </div>
                <div class="collapse" id="documentProperties">
                    <div class="acc-content">
                        Document Properties content
                    </div>
                </div>
            </div>

        </div>

        <div class="preview-translations">
            @Html.Partial("~/Views/ThesaurusGlobal/Preview/TranslationsPreview.cshtml", Model)
        </div>
    </div>
</div>

<script src="~/Scripts/SwissOpenOncology/thesaurusPreview.js"></script>
<script src="~/Scripts/sReports/tableCommon.js"></script>



