@model sReportsV2.DTOs.Patient.PatientDataOut

<div class="form-row remove-right-margin">
    <div class="patient-address-telecom-table address-table">
        @Html.Partial("AddressTable", Model != null ? Model.Addresses : new List<sReportsV2.DTOs.Common.AddressDTO>())
    </div>
    <div class="patient-address-telecom-table">
        @Html.Partial("TelecomTable", new ViewDataDictionary { { "Container", "PatientTelecom" }, { "Telecoms", Model != null ? Model.Telecoms : null }, { "TelecomsCount", Model != null && Model.Telecoms != null ? Model.Telecoms.Count : 0 }, { "ReadOnly", ViewBag.ReadOnly } })
    </div>
</div>