/**,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}*/

html {
    //This defines what 1rem is
    font-size: 62.5% !important; //1rem = 10px; 10px/16px = 62.5%
}

.smart-oncology-wrapper, .schema-definition-wrapper {
   background-color: $smart-oncology-light-grey;
}

// --------- start font .rem fixes ------------------
.layout-header-group {
    font-size: 1.92rem;  // 1.92 * 62.5% = 1.2 rem(default)
}

.ui-widget {
    font-size: 1.6rem; // 1.6 * 62.5% = 1 rem(default)
}

.toast-message {
    font-size: 1.4rem; //0.875 * 62.5% = 1.4 rem(default)
}

.btn-advanced-link {
    font-size: 1.6rem;
}

.pager-container {
    font-size: 1.6rem;
}

.dropdown-menu {
    font-size: 1.6rem; // 1.6 * 62.5% = 1 rem(default)
    min-width: 16rem;
}

// ----------------- end --------------------------

body {
}

ul {
    list-style-type: none;
}

.day-item-display {
    &.green {
        background-color: #1ca37d;
        border: 1px solid #1ca37d;
        color: #fff;
    }

    &.orange {
        background-color: #ff8821;
        border: 1px solid #ff8821;
        color: #fff;
    }
}

.day-item {
    border: 1px solid #979797;
    display: inline-block;
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    color: #444;
    font-size: 1.5rem;
    margin: 0.4rem 0.3rem;
    min-width: 7.5rem;
    text-align: center;
    cursor: pointer;
}

.form-control[readonly] {
    background-color: $color-white;
}

.num-input-instance {
    width: 100% !important;
    height: auto;
}
