.m-20 {
	margin: 20px 0;
}

.mr-5 {
	margin-right: 5px !important;
}

.ml-5 {
	margin-left: 5px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.mb-25 {
	margin-bottom: 25px !important;
}

.mb-35 {
	margin-bottom: 35px !important;
}

.mb-50 {
	margin-bottom: 50px !important;
}

.mt-15 {
	margin-top: 15px !important;
}

.mt-35 {
	margin-top: 35px !important;
}

.mt-100 {
	margin-top: 100px !important;
}

.text-green {
	color: #00925D;
}

.text-red {
	color: #C84A4A;
}
