<div class="modal fade" id="signDocumentModal" tabindex="-1" role="dialog" aria-labelledby="signDocumentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content modal-content-sign-document">
            <div class="float-right filter-close-btn">
                <img class="close-modal" src="~/Content/img/icons/close_black.svg">
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12" id="signDocumentModalFormContainer">
                </div>
            </div>
        </div>
    </div>
</div>

