
@using sReportsV2.DTOs.Field.DataOut
@model FieldTextDataOut
<div class="designer-form-section">
    <!--<div class="designer-form-section-title">
        Custom settings
    </div>-->
    <div class="designer-form-input-group two-margins">
        <div class="label filter-label">
            Min Length
        </div>
        <input class="designer-form-input" id="minLength" name="minLength" type="text" value="@(Model != null && Model.MinLength != null ? Model.MinLength.ToString() : "")" />
    </div>
    <!--
  --><div class="designer-form-input-group  two-margins">
    <div class="label filter-label">
        Max Length
    </div>
    <input class="designer-form-input" id="maxLength" name="maxLength" type="text" value="@(Model != null && Model.MaxLength != null ? Model.MaxLength.ToString() : "")" />
    </div>
</div>