<div class="login-footer">
    <div class="terms-conditions">
        2021 Terms and Conditions
    </div>
    <div class="links d-flex">
        <a>Privacy</a>
        <a>Technology</a>
        <a>Contact</a>
        <div class="powered-by">
            <div class="">
                Powered by
            </div>
            <img class="img-wemedoo" src="~/Content/img/icons/SwissOpenOncology/wemedooLogo.png">
        </div>
    </div>
</div>