@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="sotexsolutions.com">
    <title>Error - sReports by weMedoo</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/login.min.css" />
    <link rel="stylesheet" href="~/Content/newMain.css" />

</head>
<body class="login-background">
    <div class="container error-container">
        <div>403 - Access denied</div>
        <div class="error-message">For the current active organization you don`t have permission to access target resources!</div>
        <div class="back-to-home" onclick="backToHome()">Back to home page</div>
    </div>

    <script>
        function backToHome() {
            window.location.href = `/Home/Index`;
        }
    </script>
</body>
</html>
