$color-green-primary: #1c94a3;
$color-dark-grey: #454545;
$color-light-grey: #f8f8f8;
$link-color: #097c8a;

.soo-header-color{
    background-color:$color-green-primary !important;
    background-image:url(img/icons/SwissOpenOncology/header_backround.png);
    height:78px;
}

.gt-navbar-logo{
    max-height:unset!important;
    height:35px;
    margin-left:15px;
}

.mc-min-height {
    min-height: calc(100vh - 78px - 80px)
}

.info-value{
    color: white;
    font-size:20px;
    font-weight:600;
}

.info-label {
    color: white;
    font-size: 14px;
}

.info-item{
    max-width:160px;
    padding:20px;
    text-align:center;
}

.info-items {
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.search-btn-gt {
    border: 1px solid $color-green-primary;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    width:30vw;
    min-width:350px;
    padding-left:38px;
    padding-right:41px;

    &:focus {
        outline: none;
        box-shadow: 0 0 20px 0 #c2e8ed;
    }
}

.search-i{
    position:absolute;
    top:11px;
    right:20px;
}

.search-input{
    width:fit-content;
    position:relative;
    margin:auto;
    margin-top:30px;
    margin-bottom:13vh;
}

.home-row-title {
    color: $color-green-primary;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
}



.home-li-item {
    position: relative;
    width: fit-content;
    margin-bottom: 16px;
    padding-left: 10px;

    &.circle {
        margin-bottom: 8px;
    }

    i.fa-circle {
        font-size: 5px;
        color: $color-dark-grey;
        position: absolute;
        top: 8px;
        left: -5px;
    }

    i.fa-check {
        font-size: 10px;
        color: $color-green-primary;
        position: absolute;
        top: 5px;
        left: 0px;
    }

    span {
        margin-left: 10px;
    }
}

.navbar-right-part {
    padding-right: 20px;
    display: flex;

    .header-btn {
        cursor: pointer;
        background-color: #fafafa;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        padding: 5px 7px 4px 7px;
        font-size: 14px;
        color: $link-color;
        font-weight: 500;
        margin-left:10px;

        img {
            margin-bottom: 3px;
        }
    }
}

.img-number {
    margin-bottom: 14px;
}

.search-book {
    position: absolute;
    top: 9px;
    left: 14px;
}

.login-register {
    padding-left: 30px;
    display: flex;

    .go-to-login {
        padding-top: 4px;
        color: white;
        display: flex;
        font-weight: 400;
        cursor: pointer;
        padding-right: 13px;
        border-right: 1px solid white;

        i {
            font-size: 12px;
            margin-top: 5px;
            margin-right: 8px;
        }

        div {
            font-size: 14px;
            text-decoration: underline;
        }
    }

    .go-to-register {
        padding-top: 4px;
        color: white;
        display: flex;
        font-weight: 400;
        cursor: pointer;
        margin-left: 13px;

        div {
            font-size: 14px;
            text-decoration: underline;
        }
    }
}

.logged-user {
    margin-left: 35px;
    display: flex;
    font-size: 14px;

    .layout-avatar {
        background-color: #fafafa;
        color: #a671fe;
        width: 33px;
        height: 33px;
        border-radius: 50%;

        div {
            text-align: center;
            padding-top: 6px;
        }
    }

    .user-label {
        color: white;
        margin-left: 6px;
        padding-right: 20px;
        border-right: 1px solid white;
        padding-top: 6px;
    }
}

.log-out{
    cursor:pointer;
    padding-top:6px;
    color:white;
    text-decoration:underline;
    padding-left:20px;
}

.browse-container {
    width: 60%;
    margin-left: 20%;
    position:relative;
}

.advanced-search-btn {
    width: fit-content;
    margin-left: auto;
    text-decoration: underline;
    color:$color-green-primary;
    font-weight:600;
    cursor:pointer;
    margin-top:5px;
}

.result-container {
    border: solid 1px #c6c6c6;
    padding:20px 30px;
}

.single-result {
    padding: 2px 7px;
    color: $link-color;
    font-size : 12px;
    cursor:pointer;
    font-weight:600;
    &:hover {
        background-color: #e4f5f7;
    }
}

.browse-search{
    margin-left:0px;
    margin-bottom:40px;
}

.search-info{
    font-weight:600;
    font-size:14px;
    color:black;
    padding-left:7px;
    margin-bottom:14px;

}

.search-param {
    color: #008290;
    font-weight: 600;
    display: inline-block;
}

.pager-container-gt{
    margin-top:9px !important;
    height:42px;
}

.search-info-title {
    margin-bottom: 14px;
    font-size: 20px;
    color: $color-dark-grey;
    font-weight:600;
    letter-spacing:0.24px;
}

.afh-global-thesaurus{
   color:black !important;
   margin-bottom:18px !important;
}

.search-advanced-content {
    width: 688px !important;
    height: 380px !important;
    margin: auto;
    border-radius: 9px;

    .advanced-filter-item{
        margin-right:10px;
    }
}

.vocabulary-content {
    width: 741px !important;
    height: 575px !important;
    margin: auto;
    border-radius: 8px;
}

.codes-modal-content {
    width: 598px !important;
    height: 519px !important;
    margin: auto;
    border-radius: 8px;
}

.advanced-search{
    margin:0px;
    width:100%;
}

.radio-input{
    margin-right:20px;
    label{
        margin-left:6px;
    }
}

#gtAdvancedSearch {
    .filter-input {
        &:focus {
            border-color: $color-green-primary !important;
            outline: none;
            box-shadow: 0 0 20px 0 #c2e8ed !important;
        }
    }
}

.padding-lr-15{
    padding-left:15px;
    padding-right:15px;
}

.modal-body-soo {
    margin-left: 50px;
    margin-right: 40px;
    padding: 0px !important;
    margin-top:34px;
}

.modal-body-vocabulary {
    margin-left: 50px;
    margin-right: 40px;
    padding: 0px !important;
    margin-top: 28px;
}

.thesaurus-preview {
    width: 80%;
    margin: auto;
    margin-top: 52px;
}

.tp-title {
    display: flex;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    color: $color-dark-grey;
    letter-spacing: 0.34px;
    padding-bottom: 12px;
    border-bottom: dashed 1px #d7d7d7;
}

.contribute-btn{
    background-color:#fafafa;
    border:1px solid #c6c6c6;
    border-radius:4px;
    font-size:14px;
    font-weight:500;
    color: $link-color;
    height:fit-content;
    padding: 4px 10px 6px 10px;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
    cursor:pointer;

    img{
        margin-right:9px;
    }

}

.thesaurus-edit-btn {
    background-color: #fafafa;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: $link-color;
    height: fit-content;
    padding: 4px 10px 6px 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;

    img {
        margin-right: 9px;
    }
}

.preview-content {
    display:flex;
    padding-top:25px;

    .trees-container {
        padding-right:40px;
        width: 36%;
    }

    .preview-translations {
        width: 64%;
    }
}

.quick-search-input {
    border: 1px solid $color-green-primary;
    border-radius: 5px;
    height: 50px;
    padding-left: 14px;
    padding-right: 41px;
    width: 100%;
    font-size:14px;
    color:$color-dark-grey;
    cursor:pointer;


    &:focus {
        outline: none;
        box-shadow: 0 0 20px 0 #c2e8ed;
    }

}

.browse-accordion-header {
    border-bottom: 1px solid #e2e2e2;
    margin-top: 10px;
    padding-top: 19px;
    padding-bottom: 15px;
    display: flex;
    cursor: pointer;
    padding-left: 9px;
    //background-color: $color-green-primary;
    .browse-arrow {
        margin-left: auto;
        margin-right: 10px;
        //content: url("img/icons/SwissOpenOncology/arrow_open.svg");
    }

    .browse-text {
        margin-left: 10px;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 500;
        color: $link-color;
    }
}

.browse-accordion-header.collapsed {
    border-bottom: 1px solid #e2e2e2;
    background-color: white;

    .browse-arrow {
        content: url("img/icons/SwissOpenOncology/arrow_close.svg");
    }

    .browse-text {
        color: $link-color;
    }
}

.knowledge-in-context {
    font-size: 14px;
    font-weight: 600;
    color: $color-green-primary;
    margin-top:19px;
    padding-left:9px;
    padding-bottom:2px;
}

.preview-accordion-header.collapsed {
    border: solid 1px #c6c6c6;
    background-color: #fafafa;

    .acc-book {
        content: url("img/icons/SwissOpenOncology/tree_black.svg");
    }

    .acc-text {
        color: $color-dark-grey;
    }

    .acc-arrow {
        content: url("img/icons/SwissOpenOncology/arrow_close.svg");

        &.no-any-margin {
            margin: unset;
        }
    }

    .acc-ontology {
        margin-left: auto;
        margin-right: 15px;
    }
}

.preview-accordion-header {
    display: flex;
    background-color: $color-green-primary;
    padding: 15px;
    cursor: pointer;

    .acc-book {
        margin-right: 12px;
        content: url("img/icons/SwissOpenOncology/tree_white.svg");
    }

    .acc-text {
        font-size: 14px;
        font-weight: 500;
        color: white;
    }

    .acc-arrow {
        content: url("img/icons/SwissOpenOncology/arrow_open.svg");
        margin-left: auto;

        &.no-any-margin {
            margin: unset;
        }
    }

    .acc-ontology {
        margin-left: auto;
        margin-right: 15px;
    }
}

.preview-accordion{
    margin-bottom:10px;
}

.acc-content {
    padding: 22px;
    border: 1px solid #c6c6c6;
    border-top:unset;
}

.acc-content-row {
    display: flex;
    align-items: center;

    div{
        width: 50%;
    }
}

.preview-translations{
    padding-left:27px;
    border-left:1px solid #c6c6c6;
}

.thesaurus-preview-o40mtid{
    font-size:15px;
    font-weight:600;
    color:#000000;
    height:fit-content;
    margin-bottom:auto;
    margin-top:auto;
    padding-left: 1rem;
}

.translations-title{
    display:flex;
    padding-bottom:19px;
    border-bottom:1px dashed #c6c6c6;
}

.preview-user {
    margin-right: 30px;
    display: inline-flex;

    &:last-child{
        margin-right:0px;
    }

    .pu-title {
        font-size: 13px;
        color: #757575;
    }

    .pu-value {
        color: $link-color;
        font-size: 14px;
        font-weight: 600;
    }

    .img-container {
        width: 31px;
        height: 31px;
        background-color: #ebebeb;
        border-radius: 3px;
        margin-top: 4px;
        margin-right: 9px;
        position: relative;

        .verified-by {
            position: absolute;
            top: 6px;
            left: 8px;
        }

        .created-by {
            position: absolute;
            top: 8px;
            left: 8px;
        }


    }
}

.preview-users{
    margin-left:auto;
    width:fit-content;
    //display:flex;
}

.language-input{
    width:50%;
    margin-top:21px;
}

.language-input-create {
    margin-top: 41px;
    display: flex;

    .inline-checkbox-label {
        margin-left: auto;
        padding-top: 10px;
    }
}

.input-label{
    width:25%;
    padding:6px 21px 0px 21px;
    font-size:14px;
    color:$color-dark-grey;
    text-align:right;
    word-break:break-all;
}

.input-item {
    display: flex;
    margin: 0px !important;

    .input-value {
        width: 75%;
        position: relative;

        .add-btn{
            position:absolute;
            top:11px;
            right:11px;
        } 
        
        textarea {
            border: solid 1px #d4d4d4;
            border-radius: 5px;
            padding: 10px 16px 11px 16px;
            font-size: 15px;
            min-height: 80px;
        }

        input {
            border: solid 1px #d4d4d4;
            border-radius: 5px;
            padding: 8px 16px 8px 16px;
            font-size: 15px;
            margin: 0px !important;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }
}

.items-container-create{
    padding-left:25%;
    padding-top:7px;
}

.language-input-title {
    font-size: 14px;
    color: $color-dark-grey;
}

.languages-input {
    border-radius: 5px;
    border: solid 1px $color-green-primary;
    background-color: #f0fdff;
    padding: 9px 18px;
    font-size: 14px;
    width: 100%;
    background-image: url("img/icons/SwissOpenOncology/arrow_close.svg");
    background-position: calc(100% - 10px) 17px;
    background-repeat: no-repeat;

    &:focus {
        outline: none;
    }

    &:disabled {
        color: black;
        font-weight: bold;
    }
}

.translations-language-gt{
    margin-top:30px;
    padding-bottom:49px;
    border-bottom:1px dashed #c6c6c6;
}

.translations-item-label{
    font-size:15px;
    font-weight:600;
}
.translations-item-value {
    font-size: 14px;
    line-height:1.57;
    color:$color-dark-grey;
}

.gt-items{
    display: flex;
    margin-top:15px;

    .items-container{
    }

    .translations-item-label{
        margin-right:12px;
        height:fit-content;
        margin-top:3px;
    }

    
}

.rounded-item{
    display:inline-block;
    padding:5px 15px;
    background-color:#efefef;
    margin-right:9px;
    font-size:14px;
    border-radius:15px;
    margin-bottom:10px;
}

.synonym-color {
    color: #644ab4;
}

.abbreviation-color {
    color: #0281c5;
}

.codes-container{
    padding-top:37px;
}

.codes-title{
    font-size:15px;
    font-weight:600;
    margin-bottom:18px;
    display:flex
}

.codes-table-gt {
    display: inline-table;
    font-size: 14px;
    width: 100%;
    border: 1px solid #eaeaea;
    margin-bottom: 15px;

    tr {
        border-bottom:1px solid #eaeaea;

        &:last-child{
            border-bottom:unset;
        }

        &:nth-child(even) {
            background-color: #fafafa;
        }
    }

    th {
        padding: 17px 10px;
        cursor: default;

        &:first-child {
            padding-left: 32px;
        }

        border-bottom: 1px solid #eaeaea;
        background-color: #fafafa;
        font-weight: 600;
    }

    td {
        vertical-align:top;
        cursor: default;
        padding: 17px 10px;
        word-break:break-word;

        &:first-child {
            width:130px !important;
            padding-left: 32px;
        }

        color: $color-dark-grey;
        font-weight: 600;
    }
}

.codes-table thead th {
    padding-left: 15px;
}

.td-code {
    background-color: $color-green-primary;
    border-radius: 4px;
    color: white;
    padding: 5px 10px 6px 12px;
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
}

.td-link {
    color: $link-color !important;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer !important;

    a {
        color: $link-color !important;
    }
}

.filter-vocabulary{
    cursor:pointer;
    font-size:14px;
    font-weight:500;
    text-decoration:underline;
    color:$link-color;
    padding-right:22px;

    img{
        margin-right:5px;
    }

}

.codes-title-btns{
    margin-left:auto;
    width:fit-content;
    display:flex;
}

.view-all {
    padding-left: 22px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    color: $link-color;
    border-left: 1px solid #eaeaea;
}

.vocabulary-container {
    width: 100%;
    height: 367px;
    border: solid 1px #eaeaea;
    overflow-y:auto;
    padding:22px;
}

.vocabulary-checkbox {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    word-break: break-word;
    margin-bottom: 6px;
}


.vocabulary-checkbox-label {
    font-size: 12px;
    font-weight: 500;


    span {
        color: $link-color;
    }

    .vocabulary-checkbox-i {
        width: 11px;
        height: 11px;
        border: 0.08rem solid #ced4da;
    }

    .form-checkbox-field:checked ~ .form-checkbox-button {
        background-color: $link-color;
        border-color:$link-color;
    }

    .form-checkbox-button::before {
        left: 0.22rem;
        top: 0.45rem;
        background-color: white !important;
        height: 7px !important;
        width:2px;
        box-shadow: unset;
    }

    .form-checkbox-button::after {
        left: 0.02rem;
        top: 0.25rem;
        background-color: white !important;
        height: 4px !important;
        width:2px;
    }
}

.thesaurus-textarea{
    min-width:300px;
    &:focus{
        outline:none;
    }
}

.add-input{
    display:inline-block;
    margin-left:10px;
}

.status-dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #5bc64f;
    margin: auto;
    margin-top: 10px;
}

.thesaurus-state-dropdown {
    color: $color-dark-grey;
    margin: 0px !important;
    width: unset !important;
    padding-left: 30px !important;
    cursor:pointer;

    &:first-child {
        margin-top: 15px !important;
    }

    &:last-child {
        margin-bottom: 15px !important;
    }

    &:hover {
        background: #eaeaea !important;
        color: $link-color !important;
    }

}

.thesaurus-state-dropdown.active-item {
    background: #eaeaea !important;
    color: $link-color !important;
}

.ddm-thesaurus {
    border-radius: 20px !important;
    padding: 0px !important;
}

.state-arrow{
    position:absolute;
    top:8px;
    right:0px;
    width:12px;
    height:6px;
    background-image:url("img/icons/SwissOpenOncology/status_arrow.svg");
    background-repeat:no-repeat;
}

.synonym-remove{
    display:inline-block;
    width:9px;
    height:9px;
    margin-left:14px;
    background-image:url("img/icons/SwissOpenOncology/synonyms_remove.svg");
    background-repeat:no-repeat;
}

.abbreviation-remove {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 14px;
    background-image: url("img/icons/SwissOpenOncology/Abbreviations_remove.svg");
    background-repeat: no-repeat;
}



.codes-item {
    width: 100%;
    margin-bottom: 15px;
    position: relative;


    .codes-label {
        font-size: 14px;
        color: $color-dark-grey;
    }

    .codes-input {
        padding: 8.5px 20px;
        width: 100%;
        border: solid 1px #d4d4d4;
        border-radius: 5px;
        font-size: 14px;

        &:focus {
            outline: none;
        }
    }

    .codes-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        padding-right: 35px;

        &.error {
            background-color: #fff5f5;
        }
    }

    .arrow-select-codes {
        content: url("img/icons/SwissOpenOncology/arrow_close.svg");
        position: absolute;
        right: 16px;
        top: 37px;
    }
}

.codes-header{
    font-size:20px !important;
    margin-bottom:33px !important;
}

.codes-btns{
    display:flex;
    position:relative;
    padding-left:15px;
    margin-top:22px;
}


.dropdown-menu-gt {
    min-width: unset !important;
    padding: 15px 0px !important;
    border-radius: 13px !important;
    top: 15px !important;


    .dropdown-item-gt {
        cursor:pointer;
        min-width:100px;
        display: block;
        padding: 0px 13px;
        font-size: 14px;
        

         .delete-img{
            margin-right: 10px;
            margin-bottom:3px;   
         }

        .edit-img{
            margin-right:12px;
            margin-bottom:4px;
        }
    }
}

td > .dropdown > .dropdown-menu {
    left: 0px !important;
}

#preview {
    td {
        .dropdown {
            display: none !important;
        }
    }
}

.table-results{
    font-size:14px;
    color:black;
    font-weight:700;
    position:absolute;
}

.buttons-container {
    margin-top:50px;
    border-top: 1px dashed #c6c6c6;
}

.translation-input-text-highlight {
    color: $link-color;
    font-size: 14px;
    font-weight: 600;
}

.translation-input-container {
    padding: 0.75rem 0rem !important;

    .language-input-create {
        margin-top: 10px;
        display: flex;

        .input-label {
            font-weight: 600;
        }
    }

    .translation-input-item {
        display: flex;
        margin-top: 10px;

        .input-label {
            font-weight: 600;
        }

        .input-value {
            width: 75%;
            position: relative;

            .bordered {
                border: solid 1px $color-green-primary;
            }

            textarea {
                border: solid 1px #d4d4d4;
                border-radius: 5px;
                padding: 8px 16px 8px 16px;
                font-size: 15px;
                min-height: 80px;

                &:focus {
                    outline: none !important;
                    border: solid 1px $color-green-primary;
                }

                &::placeholder {
                    @extend .translation-input-text-highlight;
                }

                &:disabled {
                    background-color: white !important;
                }
            }

            input {
                border: solid 1px #d4d4d4;
                border-radius: 5px;
                padding: 8px 16px 8px 16px;
                font-size: 15px;
                margin: 0px !important;
                width: 100%;

                &:focus {
                    outline: none !important;
                    border: solid 1px $color-green-primary;
                }

                &::placeholder {
                    @extend .translation-input-text-highlight;
                }

                &:disabled {
                    background-color: white !important;
                }
            }
        }

        .input-value-list {
            width: 37.5%;
            position: relative;

            .add-btn {
                position: absolute;
                top: 11px;
                right: 11px;
            }

            .pref-lang-item {
                padding-bottom: 10px;
            }

            .contribute-input-container {
                display: flex;

                .input-value {
                    width: 100%;
                    position: relative;
                }
            }

            .items-container {
                padding-top: 5px;
            }
        }
    }
}

a#footer-logo {
    margin-left: 0px !important;
}

.remove-system-filter:hover {
    cursor: pointer;
}

.contact-header {
    margin: -15px -30px 0 -78px;
    background-color: #30b1c2;
    min-height: 150px;
    color: white;
    padding: 42px 556px 21px 391.5px;

    @media(max-width : 1800px) {
        padding: 42px 441px 21px 276.5px;
    }
}

.contact-title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.34px;
}

.contact-subtitle {
    font-weight: 500;
    font-size: 20px;
}

.contact-body {
    padding-top: 50px;
    padding-left: 315px;
    padding-right: 315px;

    @media(max-width : 1800px) {
        padding-left: 200px;
        padding-right: 200px;
    }
}

.contact-information-text {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.contact-information-details {
    display: flex;
    margin-top: 28px;
    margin-bottom: 59px;
}

.contact-card {
    display: flex;
    flex: 33%;
    padding: 30px 0px 0px 30px;
    border-radius: 9px;
    box-shadow: 0 0 30px 0 #f0f3f3;
    background-color: #ffffff;
    height: 150px
}

.form-container {
    display: flex;
    padding-top: 20px;
}

.contact-column {
    width: 50%;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin-right-25 {
    margin-right: 25px;
}

.mandatory-field-label {
    color: red;
}

.shaded-select {
    background-color: #f9f9f9;
    padding-left: 18px;
}

.contact-textarea {
    border: solid 1px #d4d4d4;
    border-radius: 5px;
    padding: 10px 16px 11px 16px;
    font-size: 15px;
    height: 130px;

    &:focus {
        color: #495057;
        background-color: white;
        border-color: #4dbbc8;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(77, 187, 200, 0.25) !important;
    }
}

.contact-textarea.error {
    border: solid 1px #ed1e1e;
    background-color: #fff5f5;
}

.contact-label {
    font-size: 14px;
    margin-bottom: 7px;
}

.contact-form-btns {
    display: flex;
    position: relative;
}

.contact-card-title {
    font-size: 20px;
    font-weight: 600;
}

.contact-card-body {
    margin-left: 17px;
}

.font-size-15px{
    font-size: 15px;
}

.font-size-14px {
    font-size: 14px;
}

.color-light-bl {
    color: $color-dark-grey;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.contact-card-image {
    width: 39px;
    height: 39px;
    object-fit: contain;
}

.terms-and-conditions-chapter-title {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}

.terms-and-conditions-line {
    width: 30px;
    height: 2px;
    border: solid 1px #30b1c2;
    margin: 20px 0;
}

.terms-and-conditions-font {
    font-size: 15px;
    color: $color-dark-grey;
}

.terms-and-conditions-bolded {
    color: #000000;
    font-weight: 700;
}

.margin-top-17 {
    margin-top: 17px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

$link-color-lighten: lighten($link-color, 10%);

.terms-and-conditions-link {
    font-weight: 600;
    color: $link-color-lighten;
}

.color-green {
    color: $link-color-lighten;
}

.terms-and-conditions-li-item {
    position: relative;
    width: fit-content;
    margin-bottom: 8px;
    margin-left: 10px;
    padding-left: 25px;

    i {
        font-size: 4px;
        position: absolute;
        top: 8px;
        left: 0px;
    }
}

.terms-and-conditions-th-size {
    width: 200px;
    height: 50px;
}

.terms-and-conditions-table {
    font-size: 14px;

    thead {
        tr {
            th {
                vertical-align: middle;
                padding-left: 23px;
                font-weight: normal;
                background-color: #fafafa;
            }
        }
    }

    tbody {
        tr {
            td {
                vertical-align: middle;
                padding-left: 23px
            }
        }
    }
}

.home-row-container {
    padding: 120px 20%;

    &.grey-background {
        background-color: $color-light-grey;
        padding-bottom: 160px;
    }

    .home-row {
        display: flex;
        align-items: center;

        .image {
            text-align: center;
        }
    }
}

.home-container {
    font-size: 15px;
    margin-left: -80px;
    margin-right: -30px;
    margin-top: -93px;
    padding-bottom: 100px;
}

.home-container-header {
    background-color: $color-green-primary;
    background-image: url("img/icons/SwissOpenOncology/home_header_background.jpg");
    background-position: 0px 0px;
    background-size: cover;
    height: 78px;
}

.text-bb {
    display: inline-block;
    font-weight: 800;
}

.text-bg {
    display: inline-block;
    color: $color-green-primary;
    font-weight: 600;
}

.home-action-container {
    padding: 60px 0px 80px 0px;
    background-color: $color-green-primary;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-action-label {
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.home-action-btns {
    text-align: center;
    margin-top: 20px;

    .browse-term {
        background-color: $color-green-primary;
        width: 180px;
        height: 50px;
        border: 2px solid white;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 14px;
        color: white;
        font-weight: 600;
    }

    .submit-new-term {
        background-color: #fafafa;
        width: 180px;
        height: 50px;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 14px;
        color: $link-color;
        font-weight: 600;
        margin-left: 10px;
    }
}

.home-header-container {
    background-color: $color-green-primary;
    background-image: url("img/icons/SwissOpenOncology/home_header_background.jpg");
    background-size: cover;
    height: 630px;
    padding: 180px 50px;
    color: white;
    z-index: 50000;

    .home-header-title {
        text-align: center;
        margin-bottom: 30px;

        .title {
            font-size: 30px;
            font-weight: 800;
        }

        .subtitle {
            margin-top: 5px;
            font-size: 15px;
        }
    }

    .search-input {
        width: fit-content;
        position: relative;
        margin: auto;

        .search-book {
            position: absolute;
            top: 15px;
            left: 30px;
        }

        .search-i {
            position: absolute;
            top: 15px;
            right: 20px;
            width: 20px;
            height: 20px;
        }

        .search-btn-gt {
            border: 1px solid $color-green-primary;
            border-radius: 30px;
            padding-left: 60px;
            padding-right: 20px;
            height: 50px;
            width: 30vw;
            min-width: 350px;

            &:focus {
                outline: none;
                box-shadow: 0 0 20px 0 #c2e8ed;
            }

            &::placeholder {
                color: #454545;
            }
        }

        .advanced-search-btn {
            width: fit-content;
            margin-left: auto;
            text-decoration: underline;
            color: white;
            font-weight: 500;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 20px;
        }
    }
}

.home-image {
    width: 350px;
    height: 350px;
}

.preview-btn-container {
    margin-top: 22px;
    height: 60px;
}

.table-user {
    overflow: hidden !important;
    padding-bottom: 150px;
}

.td-user-blocked{
    .user-action, .role-dropdown {
        pointer-events: none;
    }
}

.user-action {
    display: block;
    width: 100%;
    padding-right: 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu-item {
    padding: 0px 10px;

    button {
        color: white;
        background-color: #1c94a3;
        border-color: #1c94a3;
        box-shadow: unset;

        &:hover {
            background-color: #2eaeb9;
            border-color: #2eaeb9;
            color: white;
            outline: none;
            box-shadow: unset;
        }
    }
}

.connection-ontology-modal-content {
    width: 598px !important;
    height: 550px !important;
    margin: auto;
    border-radius: 8 px;

    &.smaller {
        width: 500px !important;
        height: 350px !important;
    }
}

.divider {
    margin: 40px 0px 30px 0px;
    border-bottom: 1px dashed #c6c6c6;;
}

.no-any-margin {
    margin: unset;
}

.custom-error {
    font-size: 14px;
    padding-left: 5px;
    color: #ed1e1e;
}
