
<div>
    <div class="margin-down">
        <input type="text" class="input-class" id="term" name="term" />
    </div>
    <div class="margin-down">
        <button type="button" class="export-button" onclick="exportFromUMLS(event)"><span class="export">Export from UMLS</span></button>
    </div>
</div>


<script src="~/Scripts/sReports/export_csv.js"></script>