<div class="modal-window modal-indication">
    <div class="filter-close-btn">
        <img class="close-modal" src="~/Content/img/icons/close_black.svg">
    </div>
    <div class="modal-window-content">
        <div class="d-flex advanced-filter-header">
            <img class="mr-3" src="~/Content/img/icons/add_relation.svg"> @sReportsV2.Resources.TextLanguage.Indications
        </div>
        <div class="indication-item-wrapper">
            <input type="text" class="text-input indication-item add-new-indication filter-input" value="">
            <span class="add-item"><img src="~/Content/open-oncology/images/icons/add-new.svg" alt="Add item"></span>
        </div>
        <div class="tag-values indication-values" id="indication-values">
        </div>
        <div class="modal-footer">
            <button href="javascript:;" class="btn-text close-modal">@sReportsV2.Resources.TextLanguage.Cancel</button>
            <button id="save-indication" class="btn-primary-schema ml-5">@sReportsV2.Resources.TextLanguage.Save</button>
        </div>
    </div>
</div>
