
@{
    ViewBag.Title = "InfoMesasge";
    Layout = "~/Views/Shared/_Dfd_Layout.cshtml";
}
    <div class="dfd-info-message">
        <div>
            Hvala na Vašoj pažnji!<br />
            Bićete obavešteni putem SMS poruke o svim daljim koracima.
            U međuvremenu, za sva pitanja možete se obratiti na <a href="mailto:info@doktorizadoktore.rs" target="_top">info@doktorizadoktore.rs</a><br />
            <br /><br />
            S poštovanjem,<br />
            Vaš Tim Doktori za Doktore.
        </div>

    </div>

