.chemotherapy-schema-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 6rem;
    padding: 2rem 3rem;
    border-bottom: 1px solid $border-color;
}
