.schema-definition-wrapper {
    &.has-border {
        border-top: 1px solid $border-color;
    }
}

.chemotherapy-schema {
    .shema-card-no-border {
        padding: 0.7rem;
    }
}

.btn-preview-edit {
    border: none !important;
    background-color: transparent !important;
    font-size: 1.4rem;
    font-weight: 600;
    color: $primary-color;
    margin-right: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.divider {
    &.smaller-margin {
        margin: 0rem 0rem 1rem 0rem;
    }
}

.vl {
    border-left: 1px solid $border-color;
    height: inherit;
    margin-left: -3px;
    margin-top: -2rem;
}

.schema-medications {
    padding: 0.7rem;

    .table-bordered {
        border: 1px solid $border-color;
    }

    .table {
        thead {
            th {
                border: 1px solid #12707C;
                vertical-align: middle;
                font-size: 1.4rem;
                color: #12707C;
                font-weight: $font-weight-semi-bold;
                background-color: #E4FBFF;
                width: 16.67%;
                padding: 1rem;
            }
        }
    }

    .table tr td {
        vertical-align: middle;
        font-size: 1.4rem;
        background-color: $color-white;
        font-weight: $font-weight-medium;
        padding: 1rem;
    }
}


