
@{
    ViewBag.Title = "InsertThesaurusFromForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using  sReportsV2.Domain.Entities.ThesaurusEntry
@model List<ThesaurusEntry>

    <ul class="list-group">
        @foreach (ThesaurusEntry thesaurusEntry in Model)
        {
        <li class="list-group-item">
            <div>@thesaurusEntry.O40MTId</div>
            <div>@thesaurusEntry.Translations.FirstOrDefault(x => x.Language.Equals("en"))</div>
            <div>@thesaurusEntry.GetPreferredTermByTranslationOrDefault("en")</div>
            <div>@thesaurusEntry.GetDefinitionByTranslationOrDefault("en", "en")</div>
        </li>
        }
    </ul>
