<form id="thesaurusMore" name="ThesaurusMore" onsubmit="return false">
    <div class="modal fade" id="thesaurusMoreModal" tabindex="-1" role="dialog" aria-labelledby="thesaurusMoreModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content modal-content-advanced">
                <div class="float-right filter-close-btn">
                    <img class="close-modal" src="~/Content/img/icons/close_black.svg">

                </div>

                <div class="modal-body modal-body-advanced" id="thesaurusMoreModalContent">
                    <div class="d-flex advanced-filter-header">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>