@using sReportsV2.DTOs.Form.DataOut;
@model List<FormDataOut>
    <div class="suggested-forms">
        <div class="title">
            @sReportsV2.Resources.TextLanguage.SuggestedForms
        </div>
        <div class="suggested-forms-container">
            @foreach (FormDataOut formDataOut in Model)
            {
                <div class="single-pinned-item" data-id="@formDataOut.Id">
                    <div class="icon">
                    </div>
                    <div class="pinned-icon"></div>
                    <div class="title">
                        @formDataOut.Title
                    </div>
                    <div class="select-button">
                        @sReportsV2.Resources.TextLanguage.New
                    </div>
                </div>
            }
        </div>
    </div>

