################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj/Debug
/.vs/sReportsV2/v15/.suo
/.vs/config
/.vs/sReportsV2/v15/Server/sqlite3
