
    <div class="user-filter-part">
        <div class="consensus-input-group mt-3">
            <div class="label filter-label">
                Select Country
            </div>
            <input class="consensus-input" type="text" id="countriesAutocomplete">
        </div>

        <div class="map-filter-countries">
            <div class="map-filter-container">
                <div class="map-title">
                    Selected
                </div>
                <div id="filteredCountries">

                </div>
            </div>
            <svg class="map-click" id="map" viewBox="0 0 960 500"></svg>
        </div>
    </div>
    

<script src="~/Scripts/sReports/designer/d3map.js"></script>


