<div class="user-filter-part">
    <div class="consensus-input-group mt-3">
        <div class="label filter-label">
            Select Organization
        </div>
        <div class="c-complex-input">
            <input class="consensus-input" type="text" id="organizationName">
            
            <i class="fas fa-search search-btn" onclick="filterOrganizationHierarchy()"></i>
        </div>
    </div>
    <div id="organizationHierarchy" class="consensus-hierarchy-container">

    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            method: 'post',
            url: '/FormConsensus/GetUserHierarchy',
            contentType: 'application/json',
            success: function (data) {
                $("#organizationHierarchy").html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                toastr.error(jqXHR.statusText);
            }
        })
    });

</script>
